.product-container{
    
    margin-top: 20px;
    margin-bottom: 30px;

    img{
        min-width: 300px;
        padding:0 5px;
        width: 25.8vw;
        }
    .product-title {
        padding-left: 5px;
    }
    .product-price{
        padding: 0 0 5px 5px;
    }
}