
.promo-banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5vh;
    background-color:rgb(185, 118, 29);

    .promo-message{
        margin: auto 0 ;
    }
}