.register-container{
    background:url("https://wallpapercave.com/wp/wp3376810.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;

    h2{
        margin-top: 32vh;
        font-size: 45px;
        color: #bdbdbd;
    }

    form{
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
        
        input{
            width: 26.5vw;
            height: 3vh;
            font-size: 17px;
            border-radius: 5px;
            margin: 8px;
            border: 1px solid #bdbdbd;
            background-color: #323a3a;
            padding-left: 10px;
            color: white;
        }

        button{
            height: 3vh;
            width: 10vw;
            text-align: center;
            margin: 25px auto;
            border-radius: 5px;
            border: 1px solid #bdbdbd;
            background-color: #323a3a;
            color: white;
            cursor: pointer;
        }
    }
    
    input:focus{
        outline: none;
    }

    input:hover, button:hover{
        background-color: #bdbdbd;
        color:black;
    }
}